crontab -l for display
crontab -e for edit

*/1 * * * *           /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 5;  /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 10; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 15; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 20; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 25; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 30; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 35; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 40; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 45; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 50; /root/workspace/AnonCall/shell/Timer.php > /root/res.log
*/1 * * * * sleep 55; /root/workspace/AnonCall/shell/Timer.php > /root/res.log